body {
  background-image: url('/Users/kyanilges/Desktop/ekphrasis/content/images/wood plank.jpeg');
  background-size: cover; /* Adjust the image size to cover the entire viewport */
  background-repeat: no-repeat; /* Prevent image from repeating */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  overflow: auto; /* or overflow: visible; */
}

.title {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

.poem {
    font-size: 20px;
    font-family: "Georgia", serif;
    text-align: center;
    color: black;
}

.image {
    margin-top: 20px;
}

.movable-image {
  position: absolute;
  cursor: drag;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: auto;  /* Maintain aspect ratio */
}